<div ng-controller='concertCtrl'>
	<h4>My List</h4>
	<!-- YOUTUBE API QUERY, PLAYER -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<script src='./js/youtubePlayer.js'></script>
	    <script type="text/javascript" src="https://apis.google.com/js/client.js?onload=init"></script>

	<div id="youtubeSearchResults"></div>
	<div id="player"></div>
	
</div>